
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.cuenta-regresiva-para-nuevo-producto-s1U {
  flex-direction: column;
  background-color: #ffe1c9;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-l9xq-oQv {
    box-sizing: border-box;
    padding: 7.2rem 10.2rem 7.3rem 10.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
    height: 30.3rem;
    background-color: #998b82;
    flex-shrink: 0;

    .auto-group-4q9l-K8N {
      height: calc(100% - 7.8rem);
      background-color: #fff6c7;
      border-radius: 4rem;
      flex-shrink: 0;
      margin: 3.9rem 14.1rem 3.9rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem;

      .home24px-der {
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-cnqg-kzN {
      justify-content: center;
      height: 100%;
      font-size: 9.6rem;
      color: #000000;
      align-items: center;
      background-color: #fca89d;
      margin-right: 14.2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      border-radius: 10rem;
      text-align: center;
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
      width: 79.2rem;
    }
    .auto-group-typs-2wt {
      flex-shrink: 0;
      margin: 3.9rem 0;
      box-sizing: border-box;
      padding: 1.5rem;
      height: calc(100% - 7.8rem);
      background-color: #fff6c7;
      border-radius: 4rem;

      .shoppingbasket24px-aTc {
        object-fit: contain;
        vertical-align: top;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
      }
    }
  }
  .auto-group-kdaz-Vaa {
    width: 100%;
    height: 129.3rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-32-E2N {
      background-color: #998b82;
      width: 46.7rem;
      height: 49.1rem;
      position: absolute;
      left: 16.2rem;
      top: 9.1rem;
    }
    .rectangle-36-AAv {
      position: absolute;
      left: 17.7rem;
      top: 10.9rem;
      background-color: #fac7b4;
      width: 43.7rem;
      height: 36.6rem;
    }
    .rectangle-37-VU6 {
      width: 46.7rem;
      height: 49.1rem;
      position: absolute;
      left: 81.1rem;
      top: 9.1rem;
      background-color: #998b82;
    }
    .rectangle-38-2iv {
      width: 43.7rem;
      height: 36.6rem;
      position: absolute;
      left: 82.6rem;
      top: 10.9rem;
      background-color: #fac7b4;
    }
    .rectangle-39-y8N {
      height: 49.1rem;
      position: absolute;
      left: 16.2rem;
      top: 69.2rem;
      background-color: #998b82;
      width: 46.7rem;
    }
    .rectangle-40-6Cz {
      width: 43.7rem;
      height: 36.6rem;
      position: absolute;
      left: 17.7rem;
      top: 71rem;
      background-color: #fac7b4;
    }
    .rectangle-41-S1x {
      width: 46.7rem;
      height: 49.1rem;
      position: absolute;
      left: 81.1rem;
      top: 69.2rem;
      background-color: #998b82;
    }
    .rectangle-42-Aie {
      position: absolute;
      left: 82.6rem;
      top: 71rem;
      background-color: #fac7b4;
      width: 43.7rem;
      height: 36.6rem;
    }
    .nombre-del-producto-valor-7Nz {
      font-weight: 700;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 7.8rem;
      top: 48.9rem;
      left: 17.7rem;
      font-size: 3.2rem;
      width: 33.1rem;
      position: absolute;
    }
    .nombre-del-producto-valor-pHQ {
      width: 33.1rem;
      height: 7.8rem;
      position: absolute;
      left: 82.6rem;
      font-size: 3.2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      top: 48.9rem;
      line-height: 1.2125;
      color: #ffffff;
    }
    .nombre-del-producto-valor-jfG {
      width: 33.1rem;
      top: 109rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 7.8rem;
      position: absolute;
      left: 82.6rem;
      font-size: 3.2rem;
      font-weight: 700;
    }
    .nombre-del-producto-valor-3vr {
      width: 33.1rem;
      height: 7.8rem;
      top: 109rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 17.8rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .rectangle-54-Aka {
      left: 0;
      top: 0;
      background-color: rgba(255, 225, 201, 0.5);
      width: 144rem;
      height: 129.3rem;
      position: absolute;
    }
    .item-97-25-32-WZY {
      white-space: nowrap;
      height: 15.6rem;
      color: #8a6565;
      left: 44rem;
      top: 56.9rem;
      font-size: 12.8rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 55.9rem;
      position: absolute;
    }
    .accesorios-pq8 {
      left: 62.9rem;
      text-align: center;
      font-size: 4rem;
      line-height: 1.2125;
      color: #8a6565;
      white-space: nowrap;
      width: 22.2rem;
      height: 4.9rem;
      position: absolute;
      top: 68.7rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-tbrl-vdG {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 11.6rem 48.7rem 10.3rem 48.7rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #998b82;

    .image-3-epA {
      width: 5.5rem;
      height: 5.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.1rem 2.9rem 0rem;
    }
    .auto-group-6ldp-ybY {
      align-items: center;
      border-radius: 10rem;
      width: 100%;
      font-family: Inter, 'Source Sans Pro';
      font-size: 4.8rem;
      white-space: nowrap;
      flex-shrink: 0;
      color: #000000;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      display: flex;
      justify-content: center;
      background-color: #fca89d;
      height: 7.7rem;
    }
  }
}
