
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-rJv {
  display: flex;
  flex-direction: column;
  background-color: #ffe1c9;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-suzr-nCa {
    align-items: center;
    background-color: #998b82;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.2rem 10.2rem 7.3rem 10.3rem;
    width: 100%;
    height: 30.3rem;
    display: flex;

    .auto-group-kpm8-GtS {
      border-radius: 4rem;
      flex-shrink: 0;
      margin: 3.9rem 14.1rem 3.9rem 0rem;
      box-sizing: border-box;
      padding: 2.125rem 1.917rem 2.333rem 1.917rem;
      height: calc(100% - 7.8rem);
      background-color: #fff6c7;

      .home24px-y2A {
        vertical-align: top;
        width: 4.1667rem;
        height: 3.5417rem;
        object-fit: contain;
      }
    }
    .auto-group-na5q-HoY {
      width: 79.2rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.2125;
      align-items: center;
      background-color: #fca89d;
      border-radius: 10rem;
      margin-right: 14.2rem;
      height: 100%;
      font-size: 9.6rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      color: #000000;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
    }
    .auto-group-k8mp-9ar {
      background-color: #fff6c7;
      border-radius: 4rem;
      flex-shrink: 0;
      margin: 3.9rem 0;
      box-sizing: border-box;
      padding: 1.5rem;
      height: calc(100% - 7.8rem);

      .shoppingbasket24px-gqg {
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .auto-group-vyj8-CZ8 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10.4rem 16.2rem 22.1rem 16.2rem;
    width: 100%;
    align-items: center;
    display: flex;

    .rectangle-5-7g6 {
      margin-bottom: 16.6rem;
      width: 100%;
      height: 36.8rem;
      background-color: #fac7b4;
      flex-shrink: 0;
    }
    .auto-group-7z98-TV4 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 29rem 1.9rem 0rem;
      width: calc(100% - 29rem);
      display: flex;

      .llaveros-nXL {
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 51.7rem;
        text-align: center;
        font-size: 3.2rem;
        line-height: 1.2125;
      }
      .accesorios-K1U {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 700;
      }
    }
    .auto-group-yu1c-FA2 {
      flex-shrink: 0;
      width: 100%;
      height: 38.2rem;
      display: flex;
      align-items: flex-end;

      .auto-group-gzle-bDt {
        box-sizing: border-box;
        padding: 2.3rem 4.2rem 2.2rem 4.1rem;
        width: 46.7rem;
        height: 38rem;
        background-color: #998b82;
        flex-shrink: 0;
        margin-right: 18.2rem;

        .group-1-6gS {
          height: 100%;
          cursor: pointer;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;

          .auto-group-a42w-FZL {
            width: 100%;
            height: 15.7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 2.1rem;

            .auto-group-fzrx-waa {
              margin-right: 3.8rem;
              width: 17.3rem;
              height: 100%;
              background-color: #fac7b4;
              flex-shrink: 0;

              .llavero1-1-1-HPY {
                background-size: 100% 109.6%;
                background-position: 0 -0.0036rem;
                background-image: url('REPLACE_IMAGE:746c0633451b3bd5f10b518b6f51b6264ce5d032');
                width: 17.3rem;
                height: 15.7rem;
                position: relative;
              }
            }
            .auto-group-3zea-Lsc {
              width: 17.3rem;
              height: 100%;
              background-color: #fac7b4;
              flex-shrink: 0;

              .llavero2-1-1-6Lz {
                position: relative;
                background-size: 100.142% 109.554%;
                background-position: -0.0123rem 0;
                background-image: url('REPLACE_IMAGE:4b793c441ef1eb5b8a2506041c5d718693e15d75');
                width: 17.3rem;
                height: 15.7rem;
              }
            }
          }
          .auto-group-4hfx-xPC {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 15.7rem;

            .auto-group-fsyr-hra {
              margin-right: 3.8rem;
              width: 17.3rem;
              height: 100%;
              background-color: #fac7b4;
              flex-shrink: 0;

              .llavero3-1-1-4BL {
                position: relative;
                background-size: 104.046% 114.031%;
                background-position: 0 -0.0014rem;
                background-image: url('REPLACE_IMAGE:2f47833c8f6691d73935a6bfeff4bc7db43404a0');
                width: 17.3rem;
                height: 15.7rem;
              }
            }
            .auto-group-wc2e-xGi {
              width: 17.3rem;
              height: 100%;
              background-color: #fac7b4;
              flex-shrink: 0;

              .llavero5-1-1-79c {
                background-image: url('REPLACE_IMAGE:6035673b68578ec894e787e04065c1db9bf85e2d');
                width: 17.3rem;
                height: 15.7rem;
                position: relative;
                background-size: 100% 101.502%;
                background-position: 0 -0.0179rem;
              }
            }
          }
        }
      }
      .auto-group-iogv-zUJ {
        background-color: #998b82;
        flex-shrink: 0;
        width: 46.7rem;
        height: 100%;
        position: relative;

        .rectangle-17-KmU {
          height: 15.7rem;
          position: absolute;
          left: 4.1rem;
          top: 2.5rem;
          background-color: #fac7b4;
          width: 17.3rem;
        }
        .rectangle-18-f4e {
          top: 20.3rem;
          background-color: #fac7b4;
          width: 17.3rem;
          height: 15.7rem;
          position: absolute;
          left: 4.1rem;
        }
        .rectangle-19-zMp {
          background-color: #fac7b4;
          width: 17.3rem;
          height: 15.7rem;
          position: absolute;
          left: 25.2rem;
          top: 2.5rem;
        }
        .rectangle-20-j4W {
          width: 17.3rem;
          height: 15.7rem;
          position: absolute;
          left: 25.2rem;
          top: 20.3rem;
          background-color: #fac7b4;
        }
        .rectangle-30-58N {
          width: 46.7rem;
          height: 38.2rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(153, 139, 130, 0.6899999976);
        }
        .proximamente-CTt {
          position: absolute;
          left: 12rem;
          top: 17rem;
          font-size: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          color: #ffffff;
          white-space: nowrap;
          width: 22.7rem;
          height: 3.9rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;
        }
      }
    }
  }
  .auto-group-uwqy-6ZG {
    flex-direction: column;
    background-color: #998b82;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.5rem 48.7rem 10.3rem 48.7rem;
    width: 100%;
    align-items: center;
    display: flex;

    .image-1-qFx {
      margin: 0rem 0.1rem 2rem 0rem;
      width: 5.5rem;
      height: 5.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-7g42-A3L {
      height: 7.7rem;
      text-align: center;
      line-height: 1.2125;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      width: 100%;
      font-size: 4.8rem;
      display: flex;
      border-radius: 10rem;
      color: #000000;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      background-color: #fca89d;
      flex-shrink: 0;
    }
  }
}
